#side-nav{
    width: 20vw;
    height: 70vh;
    float:right;
    position: absolute;
    right: 0;
    background-color:#200d5d;
    -webkit-box-shadow: -14px 11px 27px -4px #009e60; 
    box-shadow: -14px 11px 27px -4px #009e60;
    border-radius: 80vh  0  0% 80vh;
}

.close{
    color: #009e60;
    font-size: 50px;
    position:absolute;
}

.open{
    position: absolute;
    right: 0;
    top: 50vh;
    color: #009e60;
    font-size: 50px;
}

@media only screen and (max-width:767px){
    #side-nav{
        right:0;
        width: 75%;
    }
    .open{
        font-size: 40px;
    }
}