.alpha{
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
}
.ui{
    padding: 10rem;
    background-color:  #4267B2;
    height: 80vh;
    max-height: 80vh;
    width: 90%;
    max-width:1200px;
    border-radius: 0.7rem;    
}
