.alpha{
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
}
.ui{
    padding: 10rem;
    height: 80vh;
    max-height: 80vh;
    width: 75vw;
    background-color: white;
    border-radius: 0.7rem;
    -webkit-box-shadow: 5px 5px 15px 5px #009E60; 
    box-shadow: 5px 5px 15px 5px #009E60;   
}

@media only screen and (max-width:767px){
.alpha{
    padding: 1rem;
}
}

@media only screen and (min-width:1200px){
    .ui{
        width: 70vw;
    }
}