@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
nav{
    font-family: 'Montserrat', sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: transparent;
}

select{
    padding: 0.1rem 1.3rem;
    background: transparent;
    color: white;
    background-color: rgba(51,21,110,1);
    border: 2px transparent;
    border-radius: 0.45rem;
    font-size: 1rem;
}

.logo{
    color: white;
    font-size: 1.5rem;
}

.head{
    color: white;
    font-size: 1.5rem;
}